
.profileContactWrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 10px 0 20px 0;
}

.profile {
  padding: 10px 120px 0 40px;
}

.contact {
  padding: 3em 0 1em 2em;
}

.rightDownIconBar {
  float: right;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: 26px;
}

.bioWrapper {
  margin: 10px 0 20px 0;
}

.homeWrapper {
  position: relative;
}

.homeWrapper h2 {
  padding-top: 0.8em;
  font-size: 125%;
  padding-left: 40px;
}

.homeWrapper .underline {
  border-bottom: 2px solid #ddd;
  margin-bottom: 20px;
}

.education-link a,
.education-link a:link,
.education-link a:visited,
.education-link a:active {
  color: #f27c07;
  border-bottom: 1px dotted rgba(203, 39, 46, 0.5);
  text-decoration: none;
  background-color: transparent;
}

.education-link a:hover {
  text-decoration: none;
  border-bottom: 1px solid #f27c07;
}

.working-link a,
.working-link a:link,
.working-link a:visited,
.working-link a:active {
  color: #1D75AD;
  border-bottom: 1px dotted rgba(29, 117, 173, 0.5);
  text-decoration: none;
  background-color: transparent;
}

.working-link a:hover {
  text-decoration: none;
  border-bottom: 1px solid #1D75AD;
}

.publicationsWrapper a {
  color: #f27c07;
  border-bottom: 1px dotted rgba(203, 39, 46, 0.5);
}

.publicationsWrapper a:hover {
  text-decoration: none;
  border-bottom: 1px solid #f27c07;
}

.bioWrapper p {
  padding: 0 40px 0 40px;
  margin-bottom: 20px;
  /* line-height: 1.6; */
  font-family: Georgia, serif;
  /* font-size: 13px; */
  line-height: 160%;
  color: #292929;
}

.profileContactWrapper p {
  padding: 0 40px 0 0;
  margin-bottom: 20px;
  line-height: 1.6;
  font-family: Georgia, serif;
}

.line {
  border-bottom: 2px solid #ddd;
  margin: 10px 0 10px 0;
}

.leftNav {
  position: absolute;
  top: 50px;
  left: -150px;
  height: 200px;
  width: 50px;
  border-right: 1px solid #ddd;
}

.rightNav {
  position: absolute;
  top: 0px;
  right: -400px;
  height: 100%;
  width: 410px;
}
