
.rAxisWrapper line {
  stroke: rgba(141,132,130, 0.7);
  stroke-width: 1;
}

.rAxisWrapper text {
  fill: rgba(141,132,130, 0.7);
}

.tooltip {
  text-align: center;
  z-index: 1000;
  position: absolute;
  opacity: 0;
}

.tooltipContainer {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  width: 250px;
  left: -125px; /* 250/2 */
  line-height: 16px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(200, 200, 200, 0.5);
  cursor: default;
  pointer-events: none;
}

.tooltipContainerUpper {
  flex: 1;
}

.tooltipCategory {
  position: absolute;
  text-transform: uppercase;
  font-size: 12px;
  color: #a2a2a2;
  margin-top: 5px;
  margin-bottom: 4px;
  text-align: left;
  font-weight: 500;
}

.tooltipStatus {
  color: #333;
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 4px;
  font-weight: 500;/* text-align: center; */
}

.tooltipRule {
  height: 1px;
  margin: 1px auto 3px;
  background: #d1d1d1;
  width: 200px;
}

.tooltipSubcategory {
  font-size: 14px;
}

.tooltipShortdescription {
  color: #171717;
  font-size: 12px;
  font-weight: 600;
  margin: 10px 20px;
}

.arrow {
  position:absolute;
  top: 420px;
  left: 560px;
  height:50px;
  line-height:50px;
  font-size:30px;
  z-index:-10;
  bottom:0;
  right:50px;
  color:rgba(0,0,0, 0.7);
  animation:arrowWiggle 1s ease-in-out infinite;
}

@keyframes arrowWiggle {
  0% {
    right:50px;
  }
  50% {
    right:35px;
  }
  100% {
    right:50px;
  }
}
