.cardsWrapper {
  margin-top: 50px;
  padding-bottom: 50px;
  border-bottom: 1px solid #ddd;
}

.filterWrapper {
  margin-top: 35px;
}

.filterWrapper ul {
  list-style-type: none;
  text-align: center;
}

.filterWrapper li {
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.filterWrapper li a {
  color: rgba(46,46,46,0.6) !important;
  font-size: 13px;
  font-family: 'Open Sans',sans-serif !important;
  margin: 0 15px;
  padding: 0.2em 0.6em;
  text-decoration: none;
}

.filterWrapper li a:hover {
  color: rgba(46,46,46);
}
